{# About page #}
{% extends "airport/base.html" %}

{% block title %}About Airport{% endblock %}

{% block css %}
    {% include "airport/home.css" %}
    {% include "airport/about.css" %}
{% endblock %}

{% block content %}
<h2 id="header">About Airport</h2>
<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="label">Airport:</td>
        {% if repo_url %}
        <td><a href="{{ repo_url}}">{{ version }}</a></td>
        {% else %}
        <td>{{ version }}</td>
        {% endif %}
    </tr>
    <tr>
        <td class="label">Django:</td>
        <td>{{ django_version }}</td>
    </tr>
    <tr>
        <td class="label">Browser:</td>
        <td>{{ user_agent }}</td>
    </tr>
</table>
<p>
Airport is a multi-player game of skill, memory & chance where each player 
starts at the same airport in a race to goal cities.  The player who reaches 
the final goal first wins the game.
</p>
<p>Airport is fun for all ages.</p>
<p>Copyright<span class="sup">&copy;</span> 2011-2012 Marduk Enterprises.  All Rights Reserved.</p>

<div id="meta">
    <a href="{% url "home" %}">Go Back</a>
</div>
{% endblock %}{# content #}

{% block scripts %}{% endblock %}
