{# About page #}
{% extends "airport/base.html" %}

{% block title %}About {{ game_name }}{% endblock %}

{% block css %}
    {% include "airport/main.css" %}
    {% include "airport/about.css" %}
{% endblock %}

{% block content %}
<h2 id="header">About {{ game_name }}</h2>
<table>
    <tr>
        <td class="label">Airport:</td>
        {% if repo_url %}
        <td><a href="{{ repo_url}}">{{ version }}</a></td>
        {% else %}
        <td>{{ version }}</td>
        {% endif %}
    </tr>
    <tr>
        <td class="label">Django:</td>
        <td>{{ django_version }}</td>
    </tr>
    <tr>
        <td class="label">Browser:</td>
        <td>{{ user_agent }}</td>
    </tr>
</table>
<p>
{{ game_name }} is a multi-player game of skill, memory &amp; chance where each player 
starts at the same airport in a race to goal cities.  The player who reaches 
the final goal first wins the game.
</p>
<p>{{ game_name }} is fun for all ages.</p>
<p>Copyright<span class="sup">&copy;</span> 2011-2014 Marduk Enterprises.  All Rights Reserved.</p>

<div id="meta">
    <a href="{% url "main" %}">Go Back</a>
</div>
{% endblock %}{# content #}

{% block scripts %}{% endblock %}
