<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>About TeamPlayer</title>
    <link rel="Shortcut Icon" href="{{ MEDIA_URL }}images/favicon.ico" />
    <link href="{{ MEDIA_URL }}styles/main.css" media="all" rel="stylesheet" type="text/css" />
    <style type="text/css">
        body {
            width: 70%;
            position: absolute;
            right: 0;
        }
        .label {
            font-weight: bold;
            color: #CDCDCD;
            padding-right: 2em;
            text-align: right;
        }
        .other_software {
            margin-left: 20px;
            width: 50%;
            margin: 15px 0;
            border: 0;
            border-left: 5px solid gray;
            padding-left: 1ex;
            font-size: 110%;
        }
        .other_software h3 {
            color: #CDCDCD;
            margin: 0;
        }
        a { color: #CDCDCD; font-weight: bold; }
    </style>
</head>
<body>
    <h2>About TeamPlayer</h2>
    <table cellpadding="0" cellspacing="0" border="0">
        <tr>
            <td class="label">Teamplayer:</td>
            {% if repo_url %}
            <td><a href="{{ repo_url}}">{{ version }}</a></td>
            {% else %}
            <td>{{ version }}</td>
            {% endif %}
        </tr>
        <tr>
            <td class="label">Django:</td>
            <td>{{ django_version }}</td>
        </tr>
        <tr>
            <td class="label">User Agent:</td>
            <td>{{ user_agent }}</td>
        </tr>
    </table>
    <p>TeamPlayer is a democratic Internet radio station.  Members create
    song lists and the virtual DJ, DJ Ango, goes from member to member
    playing a song out of their list.  Members get to hear what their
    fellow members' musical interests are, and contribute songs on their own.
    With TeamPlayer everyone's musical tastes are heard and everyone gets
    an equal chance to be heard.</p>
    <p>Copyright&copy; 2010-2011 Marduk Enterprises.  All Rights Reserved.
    TeamPlayer <em>will</em> be released as OSS someday...</p>

    <h2>Other Software</h2>
    <p>TeamPlayer includes or uses software by:</p>
    <div class="other_software">
        <h3>Python</h3>
        <p>Python standard library and interpreter by the Python Software
        Foundation (<a href="http://www.python.org">www.python.org</a>)</p>
    </div>
    <div class="other_software">
        <h3>Django</h3>
        <p>Django High-level web framework by the Django Software
        Foundation (<a
            href="http://www.djangoproject.com">www.djangoproject.com</a>)</p>
    </div>
    <div class="other_software">
        <h3>MPD</h3>
        <p>Music Player Daemon (mpd) by Max Kellermann and others (<a
            href="http://www.musicpd.org/">www.musicpd.org</a>)</p>
    </div>
    <div class="other_software">
        <h3>Mutagen</h3>
        <p>Mutagen library for handling audio metadata by Michael Urman and
        others (<a
            href="http://code.google.com/p/mutagen/">code.google.com/p/mutagen/</a>)</p>
    </div>
    <div class="other_software">
        <h3>jQuery</h3>
        <p>jQuery by The jQuery Project (<a
            href="http://jquery.org">jquery.org</a>)</p>
    </div>
    <div class="other_software">
        <h3>Ajax Upload</h3>
        <p>Ajax Upload multi-file drag-and-drop file upload library by
        Andrew Valums (<a
            href="http://valums.com/ajax-upload/">valums.com</a>)</p>
    </div>
    <div class="other_software">
        <h3>scrobber.py</h3>
        <p>Python Scrobbler by "exhuma" (<a href="http://exhuma.wicked.lu/projects/python/scrobbler/">exhuma.wicked.lu</a>)</p>
    </div>
    <div class="other_software">
        <h3>GNOME Icons</h3>
        <p>The GNOME icon theme by The GNOME Project (<a
            href="http://www.gnome.org/">www.gnome.org</a>)</p>
    </div>
    <div class="other_software">
        <h3>Chromium Icons</h3>
        <p>Some icons Copyright &copy;2011 by the Chromium Project (<a
            href="http://dev.chromium.org/">chromium.org</a>)</p>
    </div>
    <div class="other_software">
        <h3>FFMp3</h3>
        <p>FFMp3 - The Flash MP3/OGG Live Stream Player by Federico Bricker (<a
            href="http://ffmp3.sourceforge.net/">ffmp3.sourceforge.net</a>)</p>
    </div>
    <div class="other_software">
        <h3>Last.fm SaaS</h3>
        <p>Not software per-sé, but TeamPlayer utilizes the <a
        href="http://last.fm/">Last.fm</a> API throughout.  Thanks to
        Last.fm for connecting users and music.</p>
    </div>
</body>
</html>
