{# Base template for the Airport app #}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Airport{% endblock %}</title>

    {% include "airport/favicon.html" %}

    <link href='http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Sans+Mono|Droid+Serif|Sofia' rel='stylesheet' type='text/css'>

    <style type="text/css">
        {% block css %}{% endblock %}
    </style>

</head>
<body>
    <img id="background_image" src="{{ background_image }}" alt="" />
    {% block content %}Base Template{% endblock %}

    {% block scripts %}
    <script type="text/javascript" src="{{ jquery }}"></script>
    <script type="text/javascript" src="{{ jquery_ui }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ jquery_ui_css }}"/>
    <script type="text/javascript" src="{{ jquery_cookie }}"></script>
    <script type="text/javascript" src="{{ jquery_scrollto }}"></script>
    <script type="text/javascript">
        {% include "csrf.js" %}
    </script>
    {% endblock %}

</body>
</html>

