body {
    font-family: "Droid Sans", sans-serif;
    background-color: DeepSkyBlue;
    background-image: url('{{ background_image }}'); 
}

a {
    color: #01004B;
}

::-webkit-scrollbar {
    display: none;
}

form {
    min-width: 800px;
    height: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -400px;
    margin-top: -300px;
}
