{% if flights %}
{% for flight in flights %}
<tr class="schedule {% cycle 'odd' 'even' %}" id="flight_{{ flight.id }}">
    <td>{{ flight.destination }}</td>
    <td class="flightno">{{ flight.number }}</td>
    <td>{{ flight.depart_time|date:"P" }}</td>
    <td>{% if flight.arrival_time != flight.depart_time %}{{ flight.arrival_time|date:"P" }}{% else %}⚠{% endif %}</td>
    <td>{{ flight.remarks }}</td>
    <td class="buy"><input type="submit" value="Buy" name="buy_{{ flight.number }}" {% if not flight.buyable %}disabled="disabled"{% endif %} /></td>
</tr>
{% endfor %}
<script type="text/javascript">
    $('input').click(function() {
            var name = $(this).attr('name'),
                ticket_no = name.substring(4);
            $('#selected').val(ticket_no);
    });
</script>
{% else %}
<tr><td colspan="6"><img src="{{ finished_image }}"/></td></tr>
{% endif %}{# flights #}
