{# Games screen #}
{% extends "airport/base.html" %}

{% block title %}{{ block.super }} - Games{% endblock %}

{% block css %}
    {% include "airport/games.css" %}
    {% include "airport/messages.css" %}
{% endblock %}

{% block content %}
<table id="games_widget">
    <thead>
        <tr><td class="titlebar" colspan="7">Active Games</td></tr>
        <tr>
            <td>Game</td>
            <td>Goals</td>
            <td>Airports</td>
            <td>Players</td>
            <td>Host</td>
            <td>Status</td>
            <td>Created</td>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<div id="create_widget">
{% if open_game %}
{# TODO: This is bad... fix it! #}
{% if open_game.host.user.username == user %}
    <a href="{% url home %}">Start {{ open_game }}</a>
{% else %}<a style="font-size: smaller">Waiting for {{ open_game.host.user.username }} to start {{ open_game }}</a>
{% endif %}{# open_game #}
{% else %}
    <form method="post" action="{% url games_create %}">{% csrf_token %}
    <table>
        <thead>
            <tr><td class="titlebar" colspan="3">Start a new game</td></tr>
        </thead>
        <tbody><tr><td>
            <table class="nostyle">
                <tr>
                    <td class="left">Goals</td>
                    <td><input id="goals_range" 
                        name="goals" 
                        type="range" 
                        min="1" 
                        max="5"
                        value="1" 
                        step="1" /></td>
                    <td id="goals_count">1</td>
                </tr>
                <tr>
                    <td class="left">Airports</td>
                    <td><input id="airports_range" 
                        name="airports" 
                        type="range" 
                        min="10" 
                        max="{{ airport_count }}" 
                        value="10" /></td>
                    <td id="airports_count">10</td>
                <tr>
                    <td colspan="3"><input type="submit" value="Create" /></td>
                </tr>
        </table>
        </td></tr></tbody>
    </table>
    </form>
{% endif %}{# open_game #}
</div>{# create_widget #}

<div id="message_widget">
    <div id="message_box"></div>
</div><!-- message_widget -->

<div id="my_stats_widget"></div>

<div id="logout">
    <a href="{% url logout %}">Sign Out</a>
</div>

{% endblock %}{# content #}

{% block scripts %}
    {{ block.super }}

    <script type="text/javascript">
        {% include "airport/common.js" %}
        {% include "airport/games.js" %}
    </script>
{% endblock %}
