<div id="games_screen" class="screen">
<script src="//rawgithub.com/fryn/html5slider/gh-pages/html5slider.js">
</script>

<table id="games_widget">
    <thead>
        <tr><td class="titlebar" colspan="7">Active Games</td></tr>
        <tr class="schedule header">
            <td>Game</td>
            <td>Goals</td>
            <td>Airports</td>
            <td>Players</td>
            <td>Host</td>
            <td>Status</td>
            <td>Created</td>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<div id="my_stats_widget"></div>
</div>
