body {
    overflow: auto;
}

#flight_schedule {
    width: 650px;
    z-index: 1;
    font-size: 14px;
}

#medal {
    width: 204px;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 0;
}

#place {
    font-size: 40px;
    font-weight: bold;
    color: #CDA501;
    text-shadow: 1px 1px #E6CE6C, -1px -1px #444;
    text-align: center;
    position: relative;
    top: -225px;
}

#game_title {
    font-size: 14px;
    color: #CDA501;
    /* text-shadow: 1px 1px #E6CE6C, -1px -1px #444; */
    text-shadow: -1px 1px #222;
    position: relative;
    top: -222px;
    text-align: center;
}

.goal {
    text-align: center;
}

#others {
    color: #FFFFFF;
    background: black;
    text-shadow: #111 1px 1px 1px;
    text-align: right;
    padding: 2px 5px;
}

#others a {
    color: yellow;
    font-weight: bold;
}
