body {
    height: auto;
}

#flight_schedule {
    width: 650px;
    z-index: 1;
    font-size: 14px;
    overflow: auto;
}

#medal {
    width: 204px;
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 0;
}

#place {
    font-size: 40px;
    font-weight: bold;
    color: #CDA501;
    text-shadow: 1px 1px #E6CE6C, -1px -1px #444;
    text-align: center;
    position: relative;
    top: -225px;
}

#game_title {
    font-size: 14px;
    color: #CDA501;
    /* text-shadow: 1px 1px #E6CE6C, -1px -1px #444; */
    text-shadow: -1px 1px #222;
    position: relative;
    top: -222px;
    text-align: center;
}

.goal {
    text-align: center;
}

#others, #map_link {
    color: #FFFFFF;
    background: black;
    text-shadow: #111 1px 1px 1px;
    text-align: right;
    padding: 2px 5px;
}

#others a, #map_link a {
    color: yellow;
    font-weight: bold;
}

#map_widget {
    display: none;
    width: 650px;
    height: 475px;
    color: #FFFFFF;
    background: #000000;
}

#map {
    width: 648px;
    height: 443px;
    margin: auto;
    overflow: hidden;
}


#close_map, #close_map div {
    background: #C70000;
    color: #FFFFFF;
    font-weight: bold;
}

#close_map div {
    padding-right: 5px;
    border: 1px solid #000000;
    text-align: right;
}

