{# Games screen #}
{% extends "airport/base.html" %}

{% block title %}{{ block.super }} - Games{% endblock %}

{% block css %}
    {% include "airport/games.css" %}
    {% include "airport/messages.css" %}
{% endblock %}

{% block content %}
<table id="games_widget">
    <thead>
        <tr><td colspan="3" id="username">{{ user }}</td></tr>
        <tr><td colspan="3">Active Games</td></tr>
        <tr><td>Game</td><td>Players</td><td>Goals</td></tr>
    </thead>
    <tbody></tbody>
</table>

<div id="create_widget">
    <a id="start_game" href="#">Start a new game with
        &nbsp;
        <input id="goals_range" type="range" min="1" max="5" value="1" step="1" />
        &nbsp;
        <span id="goals_count">1 Goal</span>
    </a>
</div>

<div id="logout">
    <a href="{% url logout %}">Sign Out</a>
</div>

<div id="message_widget">
    <div id="message_box"></div>
</div><!-- message_widget -->

<div id="stats_widget"></div>
{% endblock %}{# content #}

{% block scripts %}
    {{ block.super }}

    <script type="text/javascript">
        {% include "airport/messages.js" %}
        {% include "airport/games.js" %}
    </script>
{% endblock %}
