{# single-game summary page #}
{% extends "airport/base.html" %}
{% load humanize %}

{% block title %}Airport - {{ game }} Summary{% endblock %}

{% block css %}
    {% include "airport/common.css" %}
    {% include "airport/home.css" %}
    {% include "airport/game_summary.css" %}
{% endblock %}

{% block content %}
<table id="flight_schedule">
    <thead>
        <tr><td id="username" colspan="7">{{ user.username }}'s Itinerary</td></tr>
        <tr class="schedule header">
            <td>#</td>
            <td>ORIGIN</td>
            <td>DEST</td>
            <td>FLIGHT</td>
            <td>DEPART</td>
            <td>ARRIVE</td>
            <td class="goal"><img src="{{ gold_star }}" /></td>
        </tr>
    </thead>
    <tbody>
    {% for ticket in tickets %}
        <tr class="schedule {% cycle 'odd' 'even' %}" id="flight_{{ ticket.id }}">
            <td>{{ forloop.counter }}</td>
            <td>{{ ticket.flight.origin }}</td>
            <td>{{ ticket.flight.destination }}</td>
            <td class="flightno">{{ ticket.flight.number }}</td>
            <td>{{ ticket.flight.depart_time|date:"P" }}</td>
            <td>{{ ticket.flight.arrival_time|date:"P" }}</td>
            <td class="goal">{% if ticket.goal %}<img src="{{ gold_star }}" />{% else %}&nbsp;{% endif %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% if placed %}
<div id="medal">
    <img src="{{ medal }}" />
    <div id="place">{{ placed|ordinal }}</div>
    <div id="game_title">{{ game }}: {{ goals|length }} goal{{ goals|length|pluralize }}<br/>{{ num_airports}} airports</div>
</div>

<div id="exit">
    <a href="{% url games %}">Exit</a>
</div>
{% endif %}


{% endblock %}{# content #}

{% block scripts %}
    {{ block.super }}

    <script type="text/javascript">
        {% include "airport/common.js" %}

        $(document).ready(function () {
            $('#flight_schedule').memdraggable();
            $('#medal').memdraggable();
          });
    </script>
{% endblock %}
