{% include "airport/common.css" %}
#games_widget {
    /* width: 600px; */
    width: 45%;
}

tbody {
    overflow: scroll;
}

#games_widget tbody *::-webkit-scrollbar {
    visibility: visible;
}

table {
    border-collapse: collapse;
    margin-bottom: 60px;
}

td {
    border: 1px solid #BFBFBF;
    text-align: center;
    font-weight: bold;
    color: yellow;
    background: black;
    padding: 7px;
}

a {
    color: #01004B;
    text-decoration: none;
}

#games_widget a, #create_widget a {
    font-weight: bold;
    text-decoration: underline;
    color: white;
    border: 1px solid black;
    padding: 3px 7px;
    background: #C70000;
    box-shadow: inset 0 2px 6px white, 0 3px 3px rgba(0,0,0,0.6);
}

thead td.titlebar {
    text-align: center;
    font-weight: bold;
    color: white;
    background: #C70000;
    padding: 5px;
    border: 1px solid #BFBFBF;
    box-shadow: inset 0 2px 6px white, 0 3px 3px rgba(0,0,0,0.6);
}

thead tr td {
    text-align: center;
    font-weight: bold;
}

#create_widget {
    position: absolute;
    top: 5px;
    right: 5px;
}

a#start_game {
    text-decoration: none;
}

#goals_range {
    width: 60px;
}

#lock {
    margin-left: 0.5in;
}

#logout {
    position: absolute;
    bottom: 5px;
    left: 5px; */
}

.stat_name {
    text-align: left;
}

.numeric {
    text-align: right;
}

#my_stats_widget {
    width: 420px;
    height: 205px;
    position: absolute;
    top: 400px;
    left: 5px;
}

#games_stats {
}
