{# Main page for Airport #}
{% extends "airport/base.html" %}

{% block title %}Airport{% endblock %}

{% block css %}
    {% include "airport/home.css" %}
    {% include "airport/messages.css" %}
{% endblock %}

{% block content %}
<div id="airport_widget">
    <form id="frm" action="">
        <input type="hidden" id="selected" name="selected" value="" />
        <table id="flight_schedule">
            <thead id="flight_schedule_header">
                <tr><td id="game" colspan="6">{{ game }}, {{ game.airports.count }} Airports</td></tr>
                <tr><td id="airportname" colspan="6"></td></tr>
                <tr class="schedule header">
                    <td>DEST</td>
                    <td>FLIGHT</td>
                    <td>DEPART</td>
                    <td>ARRIVE</td>
                    <td>STATUS</td>
                    <td>&nbsp;</td> <!-- "Buy" button -->
                </tr>
            </thead>
            <tbody id="flights"></tbody>
            <tfoot id="cpanel"><tr><td colspan="6">
                        <a id="ragequit" href="">✗ rage quit</a> 
                        {% if user.profile == game.host %}
                        • <a id="pause" href="">pause</a>
                        {% endif %}
            </td></tr></tfoot>
        </table>
    </form>
</div><!-- airport_widget -->

<div id="notepad" class="scrollable">
    <div class="header">notes</div>
    <ul contenteditable="true">
        <li>started at {{ game.start_airport }}</li>
    </ul>
</div>

<table id="ticket_widget">
    <tr class="odd">
        <td><span class="ticket_label">AIRLINE</span> ACME AIR</td>
        <td id="ticket_name"></td>
    </tr>
    <tr class="even">
        <td id="ticket_no"></td>
        <td id="ticket_status"></td>
    </tr>
    <tr class="odd">
        <td id="ticket_origin"></td><td id="ticket_dest"></td>
    </tr>
    <tr class="even">
        <td id="ticket_depart"></td><td id="ticket_arrive"></td>
    </tr>
</table> {#-- ticket_widget #}

<div id="airplane_widget">
    <div id="flying">
        <img src="{{ inflight_image }}" />
    </div>
    <div id="flight_status"></div>
    <div id="progress"></div>
</div><!-- airplane_widget -->

<div id="clock"><span class="time"></span></div>

<div id="message_widget">
    <div id="message_box">Messages</div>
</div><!-- message_widget -->

<div id="goal_widget">
    <div id="goal_header">Goals</div>
    <ul id="goals"></ul>
</div><!-- goal_widget -->

<div id="stats_widget">
    <div id="stats_header">Players</div>
    <table id="stats_box"></table>
</div>

<div id="lightbox_content">
    {% if game.host.user.username  == user.username %}<a href="" id="resume">{% endif %}
    <div>Game Paused</div>
    <img src="{{pause_icon}}" />
    {% if game.host.user.username  == user.username %}<div>Resume</div></a>{% endif %}
</div>

<div id="exit">
    <span id="notification_permission">
        <input type="checkbox" name="permit_notify" id="permit_notify" />
        Allow Notifications |
    </span>
    <a href="{% url logout %}">Sign Out</a>
</div>

{% endblock %}{# content #}

{% block scripts %}
    {{ block.super }}

    <script type="text/javascript">
        {% include "airport/common.js" %}
        {% include "airport/messages.js" %}
        {% include "airport/home.js" %}
    </script>
{% endblock %}
