{# Main page for Airport #}
{% extends "airport/base.html" %}

{% block title %}Airport{% endblock %}

{% block css %}
    {% include "airport/home.css" %}
    {% include "airport/messages.css" %}
{% endblock %}

{% block content %}
<div id="airport_widget">
    <form id="frm" action="">
        <input type="hidden" id="selected" name="selected" value="" />
        <table id="flight_schedule">
            <thead id="flight_schedule_header">
                <tr><td id="username" colspan="6"></td></tr>
                <tr><td id="airportname" colspan="6"></td></tr>
                <tr class="schedule header">
                    <td>DEST</td>
                    <td>FLIGHT</td>
                    <td>DEPART</td>
                    <td>ARRIVE</td>
                    <td>STATUS</td>
                    <td>&nbsp;</td> <!-- "Buy" button -->
                </tr>
            </thead>
            <tbody id="flights"></tbody>
            <tbody>
                <tr>
                    <td id="exit" colspan="6"><a href="{% url games %}">Leave Airport</a></td>
                </tr>
            </tbody>
        </table>
    </form>
    <div id="ticket_widget">
        <div class="odd"><span id="ticket_name"></div>
        <div class="even" id="ticket_no"></div>
        <div class="odd">
            <span id="ticket_origin"></span> <span id="ticket_dest"></span>
        </div>
        <div class="even">
            <span id="ticket_depart"></span> <span id="ticket_arrive"></span>
        </div>
    </div><!-- ticket_widget -->
</div><!-- airport_widget -->

<div id="airplane_widget">
    <div id="flying">
        <img src="http://av-mech.com/images/flyinganimated_20airplane.gif" />
    </div>
    <div id="flight_status"></div>
</div><!-- airplane_widget -->

<div id="clock"><span class="time"></span></div>

<div id="message_widget">
    <div id="message_box"></div>
</div><!-- message_widget -->

<div id="goal_widget">
    <div id="goal_header">Goals</div>
    <div id="goals"></div>
</div><!-- goal_widget -->

<div id="stats_widget">
    <div id="stats_header">Players</div>
    <div id="stats_box"></div>
</div>
{% endblock %}{# content #}

{% block scripts %}
    {{ block.super }}

    <script type="text/javascript">
        {% include "airport/messages.js" %}
        {% include "airport/home.js" %}
    </script>
{% endblock %}
