{% load messages %}

<ul>{% for message in messages reversed %}
    <li 
        style="list-style-image: url('{{ message|icon }}')"
        class="message{% if not message.new %} old{% endif %}" 
        data-id="{{ message.id }}"
    >{{ message.text }}
    {% if message.new %}<audio src="{{ message|sound}}" autoplay="autoplay" />{% endif %}
    </li>

{% if forloop.last %}
</ul>
<script type="text/javascript">
    $('#message_box').data('last_message', {{ message.id }});
    $('#message_widget').scrollTo('max', {
        axis: 'y',
        duration: 500,
        margin: true
        });
</script>
{% endif %}{# forloop.last #}
{% empty %}
</ul>
{% endfor %}
