{% load messages %}
{% if messages %}
<ul>{% for message in messages %}
    <li 
        style="list-style-image: url('{{ message|icon }}')"
        class="message" 
        data-id="{{ message.id }}"
    >{{ message.text }}</li>

{% if forloop.last %}
</ul>
<script type="text/javascript">
    play('{{ message|sound }}');
    $('#message_widget').scrollTo('max', {
        axis: 'y',
        duration: 500,
        margin: true
        });
</script>
{% endif %}
{% endfor %}
(% endif %}{# messages #}
