<table id="ticket_widget">
    <tr class="odd">
        <td class="ticket_label">AIRLINE</td>
        <td class="ticket_label">NAME</td>
    </tr>
    <tr class="odd">
        <td>COLUMBIA AIR</td>
        <td id="ticket_name"></td>
    </tr>
    <tr class="even">
        <td class="ticket_label">FLIGHT</td>
        <td class="ticket_label">STATUS</td>
    </tr>
    <tr class="even">
        <td id="ticket_no"></td>
        <td id="ticket_status"></td>
    </tr>
    <tr class="odd">
        <td class="ticket_label">FROM</td>
        <td class="ticket_label">TO</td>
    </tr>
    <tr class="odd">
        <td id="ticket_origin"></td>
        <td id="ticket_dest"></td>
    </tr>
    <tr class="even">
        <td class="ticket_label">DEPARTS</td>
        <td class="ticket_label">ARRIVES</td>
    </tr>
    <tr class="even">
        <td id="ticket_depart"></td>
        <td id="ticket_arrive"></td>
    </tr>
</table> {#-- ticket_widget #}
