{# Login page for Airport #}
{% extends "airport/base.html" %}

{% block title %}{{ block.super }} - Login{% endblock %}

{% block css %}
    {% include "registration/login.css" %}
{% endblock %}

{% block content %}
    {% if messages or form.errors %}
    <div id="messages">
    {% for message in messages %}<p>{{ message }}</p>{% endfor %}
    {{ form.errors }}
    </div>
    {% endif %}
    <h1 id="game_name">{{ game_name }}</h1>
    <div id="login_widget">
    <div id="logo">Login</div>
    <form action="" method="post">{% csrf_token %}
        <div id="icon">
            <img id="lock" src="{{ login_icon }}" 
                style="width: 64px; height: 64px;"
                alt="Login" />
        </div>
    <span id="text_inputs">
        <input type="text" id="username" name="username" placeholder="Username" />
        <br/>
        <label for="username">Username</label>
        <br/>
        <input type="password" id="password" name="password" placeholder="Password" />
        <br/>
        <label for="password">Password</label>
    </span>
            <input id="login_button" type="image" value="Login"
            src="{{ login_button }}"
            style="width: 64px; height: 64px;" />
    </form>
    </div>
    <div id="meta">
        <a id="register" href="{% url "airport.views.register" %}">Sign Up</a>
         | 
        <a id="about" href="{% url "airport.views.about" %}">About</a>
    </div>
    {% endblock %}{# content #}

{% block scripts %}
    {{ block.super }}

    <script type="text/javascript">
        {% include "registration/common.js" %}
    </script>
{% endblock %}
</html>
