body {
    font-family: "Droid Sans", sans-serif;
    background-color: DeepSkyBlue;
    background-image: url(http://images2.layoutsparks.com/1/238605/moon-over-mistral-sky.jpg); 
}

a {
    color: #01004B;
    text-decoration: none;
}

img, input {
    display: inline-block;
    vertical-align: 50%;
}

form {
    display: block;
    width: 400px;
    height: 240px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -120px;
    margin-left: -200px;
}                       

label {                                                                         
    display: none;
    font-size: 8pt;
    text-align: right;
}

#text_inputs {
    display: inline-block;
    vertical-align: top;
}

#text_inputs hr {
    border: none;
}

input[type="text"], input[type="password"] {
    border: 0;
    background: white;
}

#submit {
    text-align: right;
    font-weight: bold;
    font-size: larger;                                                          
    background: transparent;
}

#text_inputs hr {
    border: none;
}                                                                               

input[type="image"] {
    display: block;
    margin-left: 160px;
}

#logo {
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 25px;
    margin-bottom: 10px;
    color: #01004B;
    text-shadow: 0px 6px 5px rgba(0, 0, 0, 0.6);
}

#register_console {
    display: block;
    width: 300px;
    height: 240px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -120px;
    margin-left: -150px;
}                       

#add_user {
    margin-left: 25px;
}

#meta {
    font-size: smaller;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

#icon {
    display: inline-block;
    /* margin-top: 30px; */
    margin-left: 65px;
}

#messages {
    padding: 2px 3px;
    color: #01004B;
    background-color: transparent;
    background-color: rgba(255, 255, 255, 0.4);
    width: 450px;
    overflow: auto;
    font-size: smaller;
    box-shadow: inset 0 2px 6px white, 0 3px 3px rgba(0,0,0,0.6);
    margin: auto;
}
