{# Login page for Airport #}
{% extends "airport/base.html" %}
{% include "airport/favicon.html" %}

{% block title %}{{ block.super }} - Register{% endblock %}

{% block css %}
    {% include "registration/login.css" %}
{% endblock %}

{% block content %}
    {% if error %}
    <div id="messages">
        {{ error }}
    </div>
    {% endif %}

    <h1 id="game_name">{{ game_name }}</h1>
    <div id="register_widget">
    <div id="logo">Register</div>
    <form method="post" action="{% url "register" %}">{% csrf_token %}
        <div id="icon">
            <img src="{{ register_icon }}"
        style="width: 85px; height: 85px" />
        </div>
        <span id="text_inputs">
            <label for="username">Username</label>
            <input type="text" id="username" 
                name="username" maxlength="30" />
            <br />

            <label for="password1">Password</label>
            <input type="password" name="password1"
                id="password1" />
            <br />

            <label for="password2">Password confirmation</label>
            <input type="password" name="password2"
                id="password2" />
            <div style="text-align: right">
                <input type="submit" value="ok" />
            </div>
        </span>
    </form>
    </div>

    <div id="meta">
        <a href="{% url "main" %}">Go Back</a>
    </div>
{% endblock %}{# content #}

{% block scripts %}
    {{ block.super }}

    <script type="text/javascript">
        {% include "registration/common.js" %}
    </script>
{% endblock %}
