{# 404 template #}
{% extends "airport/base.html" %}

{% block title %}Error 404 (Not Found){% endblock %}

{% block css %}
    {% include "airport/common.css" %}

    div {
        width: 50%;
        margin: auto;
        margin-top: 20%;
        color: #00008B;
        padding: 10px;
        background-color: transparent;
        background-color: rgba(255, 255, 255, 0.4);
        box-shadow: inset 0 2px 6px white, 0 3px 3px rgba(0,0,0,0.6);
        text-align: center;
    }
{% endblock %}

{% block content %}
<div>
    <h1>Document Not Found (404)</h1>
    <p>We're very sorry.  The document you requested has moved or no longer 
    exists. Please return to our <a href="{% url home %}">home</a> page.</p>
</div>
{% endblock %}
